:host {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

.mainContainer{
  display: grid;
  grid-template-columns: 40% 60%;
}
.container2{
  display: block;
  padding: 0 20px;
}

.title{
  width: 100%;
  padding: 0;

  color:var(--sellfone-specific-product-title-color,black);
}

.rating{
  margin-top: 10px;
}

.priceContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  margin-top: 5px;
}

.price{
  color: #00305E;
  font-size:2rem;
  padding: 0 ;
  margin: 0;
}

.buyButton{
  background-color: #00305E;
  color: #F4DA40;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.buyButton:hover{
  background-color: rgb(0, 40, 78);
}

.descriptor{
  padding: 0;
  margin: 0;
  color: #757575;
}

.over{
  font-size: .9rem;
  font-weight: bold; 
  color: black;
  margin: 5px;
  padding: 0;
}
.description{
  margin-top: 5px;
  padding: 0;
  color: black;
}
.currency2{
  color: black;
}
.shipmentMethod{
  width: 300px;
  outline: none;
  font-size: 102%;
  margin: 10px 0px;
}
.shipmentInputContainer{
  display: flex;
  flex-flow: row nowrap;

}

.shipmentInput{
  width: 300px;
}

.calculateButton{
  font-size: 105%;
  border: none;
  background-color: #00305E;
  color: white;
}

.bottomDescriptionContainer{
  width: 100%;
  margin-bottom: 20px;
}

.sellfoneTitle{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.textContainer{
  margin: 0 300px;
  text-align: center;
}

.text{
  font-size: 110%;
}

.iconContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.iconsText{
  font-size: 1.5rem;
}

.iconsInfo{
  text-align: center;
}

.icon{
  height: 70px;

}

.physicDetails{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
}

.physicContainer{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.image{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #c9c9c9;
}

.physicTitle{
  font-size: 1.2rem;
}

.boxContentContainer{
  display: flex;
  margin-left: 16px;
  text-align: left;
}

.boxContentText{
  margin-left: 20px;
}

.boxIcon{
  max-height: 400px;
}

.boxText{
  font-size: 22px;
}

.specsContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 10px;
  margin-top: 20px;
}

.specIcon{
  max-width: 40px;
}

.specBox{
  display: flex;
  flex-flow: column wrap;
  border: 1px solid #C9C9C9;
  align-items: center;
  margin: 10px 0px;
  padding: 10px;
}

.boxTitle{
  font-size: 1.2rem;
  color: #00305E;
  font-weight: 300;
}

.boxSubTitle{
  font-weight: bold;
  padding: 5px;
  margin: 0;
}

span.textDescription{
  font-weight: normal;
}